body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container {
	width: 500px;
	margin: 0 auto;

}

.form_check_ip {
	width: 300px;
	margin: 0 auto;
}

.form_check_ip input {
	margin-left: 60px;
	border: 1px solid #428cf4;
	border-radius: 8px;
	height: 30px;
	outline: none;
}

.form_check_ip input:focus {
  border: 1px solid #2e15a8;
}

.submit {
	margin-left: 95px;
	cursor: pointer;
	border: 1px solid #cecece;
	background: #f6f6f6;
	box-shadow: inset 0px 20px 20px #e1e1f4;
	border-radius: 8px;
	padding: 8px 14px;
	width: 100px;
	outline: none;
	font-size: 12px;
}
.submit:hover {
	box-shadow: inset 0px -20px 20px #e1e1f4;
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}

li {
	list-style: none;
	padding: 5px 0 5px 0;
}
.title {
	text-align: center;
}

.ip-adress {
	float: left;
	margin-left: 20px;

	
}
.city {
	float: left;

}